.ng-show-add, .ng-show-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.cssSlideUp {
    transition: .5s linear all;
    height: 80px;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    height:0;
}

.miniatyrbild{
	width:25%;
	

}

.gmnoprint img {
    max-width: none; 
}

.background{
    position: absolute;
       z-index: -1;
background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url("/img/roadtrip.jpg") center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
      width: 100%;
    height: 100%;

}

.item .item-content{
     
    background-color: rgba(255,255,255,0.7) !important;
}

.card, .attgoralist, .item-body, .item-input, .item-floating-label{

      background-color: rgba(255,255,255,0.6) !important;
}

.gradient-rainbow{ 


border:1px solid #aaa;

background: -moz-linear-gradient(left, red, orange, yellow, green, 
blue, indigo, violet);
background: -webkit-gradient(linear, left center, right center, from(red), 
color-stop(14%, orange), color-stop(28%, yellow), color-stop(42%, green), 
color-stop(56%, blue), color-stop(70%, indigo), to(violet)); 
background: -o-linear-gradient(left, red, orange, yellow, green, 
blue, indigo, violet);
background: -ms-linear-gradient(left, red, orange, yellow, green, 
blue, indigo, violet);
}


}

.kalender{
    background-color: rgba(255,255,255,1);
}

#dayCalendar{
   background-color: rgba(255,255,255,0.8);
     box-shadow: 0 5px 5px rgba(0, 0, 0);
}

#weather{
background: rgba(255,255,255,0.75);
/*  background-color: rgba(255,255,255,0.7);*/
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
 
}



/** For the task list header columns and tasks **/
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 320px) {

    .flex-container.wrap > div{
        width: 50%;
        max-width: 50%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }

}

@media (min-width: 321px) {
    .flex-container.wrap > div{
        width: 33%;
        max-width: 33%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

@media (min-width: 480px) {
    .flex-container.wrap > div{
        width: 25%;
        max-width: 25%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

@media (min-width: 640px) {
    .flex-container.wrap > div{
        width: 20%;
        max-width: 20%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

@media (min-width: 960px) {
    .flex-container.wrap > div{
        width: 15%;
        max-width: 15%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

.low-pad-item {
    padding: 0;
    margin: 0;
}

.col-header {
    font-weight: bold;
}

.column {
    text-overflow: '';
    white-space:nowrap;
    overflow: hidden;
    max-width: 87%;
    float: left;
    padding: 2px 5px;
}

.col-header > .column {
    padding: 5px 5px;
}

.underlined {
    text-decoration: underline;
}

.column-sort {
    min-width:13%;
    float: right;
    text-align: right;
    padding-right: 2px;
}

.angular-google-map-container { height: 400px; }