
<ion-view class="background">
 <ion-nav-title>{{plats}}</ion-nav-title>
<ion-content class="padding">

<div>
        <div>
          <div id="weather-container">
            <div id="weather-background"></div>
          <div id="weather">
          <h2>{{ place.location.city }} | {{ temperatur | number:0 }}&deg; <img src="http://l.yimg.com/a/i/us/we/52/{{place.item.condition.code}}.gif"/></h2>

                   <ul class="week-forecast" >
                     <li ng-class="mapWeatherclass(forecast.text)" ng-repeat="forecast in place.item.forecast">
                        <div class="inner">
                           <h5 class="week-day">{{forecast.day}}</h5>
                          <img src="http://l.yimg.com/a/i/us/we/52/{{forecast.code}}.gif"/>
                           <p class="week-day-temperature">{{ convertTemp(forecast.high) | number:0 }}&deg; / {{ convertTemp(forecast.low) | number:0  }}&deg;</p>
                        </div>
                     </li>
                  </ul>

                </div>
              </div>

<div class="card">

  <div class="item" style="  background-color: #f5f5f5; ">
    <b>Hotell</b>
  </div>

  <div ng-if="!hotell" class="item item-body">
    <label class="item item-input item-floating-label">
      <span class="input-label">Namn</span>
      <textarea type="text" rows="2" style="font-size:18px;" ng-model="hotell.namn" placeholder="Namn"></textarea>
      <span class="input-label">Adress</span>
      <textarea type="text" rows="2" style="font-size:18px;" ng-model="hotell.adress" placeholder="Adress"></textarea>
      <div  style="float:right; color:green; font-size: 30px; " class="icon ion-checkmark" ng-disabled="!hotell.namn" on-tap="sparaHotell(hotell)"></div>
      <br>

    </label>
  </div>


  <div ng-if="hotell" class="item item-body">
    <label class="item item-input item-floating-label">

      <h2 style="font-size:20px;">{{hotell.namn}}           </h2>
      <p style="font-size:16px;">{{hotell.adress}}           </p>

      <div style="float:right; color: red;" class="icon ion-close" on-tap="raderaHotell()"></div>
    </label>
     <div style="float:left; font-size:30px; height:20px;" class="icon ion-map" ng-click="showKarta()"></div> 
  </div>


<ui-gmap-google-map center='map.center' zoom='map.zoom' ng-if="showkarta">
   <ui-gmap-marker coords="map.markerpos" idkey="3" >
                <ui-gmap-window isIconVisibleOnClick="true">
                    <p ng-cloak></p>
                </ui-gmap-window>
            </ui-gmap-marker>

 </ui-gmap-google-map>


</div>

<div class="card">

  <div class="item" style="  background-color: #f5f5f5; ">
    <b>Att göra</b>
  </div>

   <ion-list>
      <ion-item class="item item-remove-animate attgoralist" ng-repeat="ag in attgora" >
        {{ag.text}}

        <ion-option-button class="button-assertive" ng-click="removeItem(ag)">
          Ta bort
        </ion-option-button>
      </ion-item>
    </ion-list>
        <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" name="item.text" ng-model="item.text">
    </label>
    <button class="button button-positive button-small" ng-click="addItem(item.text)">
      Lägg till
    </button>
  </div>
  </div>

  <br>

  <button class="button button-assertive button-small" ng-click="removeEvent()">Ta bort eventet</button>
</ion-content>
</ion-view>
