<ion-view view-title="MAJS RESPLAN">
<!-- <ion-content class="padding">
  <div>
  <img src="img/roadtrip.jpg" height="150px" width="340px" style="border-radius:10px; display:block; margin-left:auto; margin-right:auto;"></img>
</div>
    <div class="list card">
      <div class="item item-divider">Kalender</div>
      <div class="item item-body">
 <div ng-controller="MainSchedulerCtrl">







   <div data="events" dhx-scheduler style="height:400px; width:320px;">
    <div class="dhx_cal_prev_button">&nbsp;</div>
    <div class="dhx_cal_next_button">&nbsp;</div>
    <!--<div class="dhx_cal_today_button"></div>
    <div class="dhx_cal_date"></div>
   <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
    <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
    <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>   

    <div dhx-template="event_bar_text">
      {{event.text | uppercase}}
    </div>
  <div>
</div>

      </div>
    </div>
 
  </ion-content>-->


    <ion-content class="showScroll">
      <div>
  <img src="img/roadtrip.jpg" height="150px" width="340px" style="border-radius:10px; display:block; margin-left:auto; margin-right:auto;"></img>
  <br>
</div>
      <div class="item item-divider">Kalender</div>
            <div class="row padding" ng-controller="CalendarController">
              <div class="col col-100" >
              <div data-tap-disabled="true" ng-model="eventSources" ui-calendar="uiConfig" class="calendar" id="dayCalendar" calendar="dayCalendar"></div>
              </div>
             </div>
     </ion-content>
  
</ion-view>
