<ion-view view-title="Fixa" class="background">
  <ion-content>
    <ion-list>
      <div class="item item-input-inset">
   <label class="item-input-wrapper">
      <input type="text" name="item.text" ng-model="item.text">
    </label>



    <button class="button button-positive button-small" ng-click="addItem()">
      Lägg till
    </button>



  </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right item-transparent" ng-repeat="f in fixa" type="item-text-wrap" ng-click="viewDetails(f)">
        <img ng-src="{{getBildUrl(f)}}">
        <h2>{{f.text}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="removeItem(f)">
          Ta bort
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
