<ion-view view-title="Packlista">
  <ion-content>
    <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" name="item.text" ng-model="item.text">
    </label>
    <button class="button button-positive button-small" ng-click="addItem()">
      Lägg till
    </button>
  </div>

   <ion-list>
      <ion-item class="item-remove-animate item-avatar" ng-repeat="p in packa" type="item-text-wrap">
      <div class="item-checkbox">
      <label class="checkbox"> <input type="checkbox" ng-model="p.checked" ng-checked="p.checked" ng-change="updateItem(p)"></label></div>
        <p>{{p.text}}</p>

        <ion-option-button class="button-assertive" ng-click="removeItem(p)">
          Ta bort
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
