<ion-view view-title="Pällseappen">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">GODNATT ÄLSKLING!!!</div>
      <div class="item item-body">
        <div>
          I love u pälls</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Puss</div>
      <div class="item item-body">
        <div>
         Saknar dig här ute vid tvn
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Kommer snart...</div>
      <div class="item item-body">
        <div>
         ...o kryper ner
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
